.Grid1 {
    display: grid;
    grid-template-columns: 600px 400px;
}
.Grid2 {
display: grid;
grid-template-columns: 300px;

}
.Grid3 {
    display: grid;
    grid-template-columns: 1000px;
}
.Grid4 {
    display: grid;
    grid-template-columns: 600px;
    margin: 40px;
}
.Grid5 {
    display: inline;
}