header {
    background: #CCA788;
    background: -webkit-linear-gradient(top left, #CCA788, #FCD397);
    background: -moz-linear-gradient(top left, #CCA788, #FCD397);
    background: linear-gradient(to bottom right, #CCA788, #FCD397);
}
header {
    width: 100%;
    height: 200px;
    margin: 10px;
    padding: 3px;
    background-color: rgb(236, 222, 201);
}